/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
}

header{
    background-color: #000;
    height: 80px;
}

main{
    background-color: #000;
    height: calc(100vh - 180px) ;
    overflow-y: auto;
}

footer{
    background-color: #222;
    height: 100px;
}

/* Utils */
.container{
    max-width: 95vw;
    margin: 0 auto;
}

/* Header */
.header-buttons{
    text-align: end;
    line-height: 80px;
    padding-right: 10px;
}

.header-buttons > button{
    color: #fff;
    background-color: #4a4a4a;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.header-buttons i{
    margin-right: 5px;
}

/* Main */
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 200px;
    margin: 0 -5px;
}
.col{
   padding: 5px;
}

.card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://picsum.photos/seed/picsum/300/200');
    width: 300px;
    height: 200px;
    position: relative;
}
.card img{
    display: block;
    max-width: 100%;
}
.card i{
    margin-right: 5px;
}

.partecipant-name{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-transform: capitalize;
}


/* Footer */
