/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
}

header{
    background-color: #000;
    height: 80px;
}

main{
    height: calc(100vh - 180px) ;
    overflow-y: auto;
    background-color: #444;
}

footer{
    background-color: #222;
    height: 100px;
}

/* Utils */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header-buttons{
    text-align: end;
    line-height: 80px;
    padding-right: 10px;
}

.header-buttons > button{
    color: #fff;
    background-color: #4a4a4a;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.header-buttons .fa-table-cells{
    margin-right: 5px;
}

/* Main */


/* Footer */
